@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

@media (max-width: 991px) {

  .rootOverlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 100%);
    z-index: 5;
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    // height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
  }

  .catalogWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .catalogAppContainer {
    position: relative;
    display: flex;
  }

  .catalogContainer {
    position: relative;
    background: transparent;
    display: flex;
    min-height: 500px;
    border-top: 5px solid $color-sidebar-active;

    /* MOB styles */
    flex-direction: column;
    // height: 80vh;
    height: auto;
  }

  .vector {
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    width: 21px;
    height: 11px;
    z-index: 99999;
  }

  .sidebar {
    position: relative;
    width: 312px;
    flex-shrink: 0;
    background-color: $color-bg-aside;
    box-shadow: inset -10px 0 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid $color-sidebar-active;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
    }

    /* MOB styles */
    width: 100%;
    background: #fff;
    border-right: none;
  }

  .sidebarList {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sidebarItem button {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 300;
    font-size: 17px;
    color: #000;
    border: none;

    .itemIcon {
      margin-right: 12px;
      display: flex;
      align-items: center;
    }

    .mobileArrow {
      display: none;
    }

    &:hover,
    &:focus {
      color: $color-sidebar-active;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: transparent;
      transition: background 0.2s ease;
      z-index: 0;
    }

    * {
      position: relative;
      z-index: 1;
    }

    &.active::before {
      background: linear-gradient(90deg, $color-sidebar-active 0%, #f9faff 100%);
      opacity: 0.2;
    }

    &.active {
      color: $color-sidebar-active;
    }

    /* MOB styles */
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #f0f0f0;

    &.active {
      background-color: #f9f9f9;
      width: 100%;
      box-shadow: inset -10px 0 10px rgba(0, 0, 0, 0.1);
    }

    .mobileArrow {
      display: block;
      margin-left: auto;
      opacity: 0.4;
    }
  }

  .contentArea {
    flex-grow: 1;
    padding: 30px 70px;
    position: relative;
    background-color: $color-bg-main;
    border-top: 5px solid $color-sidebar-active;

    /* MOB styles */
    display: none;
  }

  .closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    /* MOB styles */
    display: none;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
  }

  .subCard {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 40px 12px 50px;
    background-color: $color-bg-aside;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: $color-text-main;

    &:hover {

      p {
        color: $color-sidebar-active;
      }
    }
  }
}

/* Цей стиль потрібен поза медіа */
.sidebarItem h3[data-state='open'] .mobileArrow {
  transform: rotate(180deg);
}