@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.searchResultContainer {
  position: absolute;
  left: 50%;
  top: calc(100% + 10px);
  transform: translateX(-50%);

  width: 100vw;
  max-height: 600px;
  overflow-y: auto;

  background-color: #fff;
  border: 1px solid $color-border-light;
  border-radius: 8px;

  @supports (-moz-appearance: none) {
    scrollbar-color: $color-border-light transparent;
  }
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-border-light;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);

    background-color: rgba(255, 255, 255, 0.068);
  }

  @include useMedia('min-width', $breakpoint-tablet) {
    left: 0;
    width: 150%;
    transform: translateX(0);
  }

  @include useMedia('min-width', $breakpoint-desktop) {
    width: 100%;
  }
}
.searchResultTitle {
  margin-top: 20px;
  padding-left: 10px;

  font-weight: 500;
  color: #000;
}

.searchResultList {
  padding: 10px;

  flex-direction: column;
  gap: 10px;
}

.searchResultListItem {
  &:not(:last-child) {
    border-bottom: 1px solid #dedcdc;
  }
}

.searchResultListLink {
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 5px;
}

.searchResultListItemTitle {
  margin-bottom: 5px;

  color: #000;
  font-weight: 400;
  font-size: 14px;
}

.searchResultListItemPrice {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.allResultsLink {
  margin-bottom: 20px;
  display: block;

  color: $color-text-secondary;
  text-align: center;

  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: $color-bg-header;
  }
}
