@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

// Головна обгортка, яка "прилипає" до низу хедера
.rootOverlay {
  position: absolute;
  top: 100%; // Починаємо рівно від нижнього краю батьківського контейнера (HeaderMiddle)
  left: 0;
  width: 100%;
  height: calc(100vh - 100%); // Висота = все що залишилось на екрані
  z-index: 5;
}

// --- BACKDROP ---
.backdrop {
  position: absolute;
  top: 0; // Покриває весь екран, починаючи з самого верху
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); // Напівпрозорий
  z-index: 10; // Менше ніж меню, більше ніж решта сайту
}

// --- WRAPPER ---
.catalogWrapper {
  position: absolute;
  top: 0; // Починається рівно під батьківським контейнером (MiddleNav)
  left: 0;
  width: 100%;
  z-index: 1000;
}

.catalogAppContainer {
  position: relative;
  display: flex;
}

.catalogContainer {
  position: relative;
  background: transparent;
  display: flex;
  min-height: 500px; // Висота меню на десктопі
  // overflow: hidden;
  border-top: 5px solid $color-sidebar-active;
}

// .catalogContainer::after {
//   content: "";
//   position: absolute;
//   z-index: 99999;
//   left: 20px;
//   top: -8px;
//   // transform: translateY(-50%);
//   width: 21px; // ширину svg
//   height: 11px; // висоту svg

//   background-color: $color-sidebar-active; // колір іконки

//   mask-image: url("data:image/svg+xml;utf8,<svg width='21' height='11' viewBox='0 0 21 11' xmlns='http://www.w3.org/2000/svg'><path d='M4 6H17V7H4V6Z'/><path d='M5 5H16V6H5V5Z'/><path d='M6 4H15V5H6V4Z'/><path d='M7 3H14V4H7V3Z'/><path d='M8 2H13V3H8V2Z'/><path d='M9 1H12V2H9V1Z'/><path d='M10 0H11V1H10V0Z'/><path d='M3 7H18V8H3V7Z'/><path d='M2 8H19V9H2V8Z'/><path d='M1 9H20V10H1V9Z'/><path d='M0 10H21V11H0V10Z'/></svg>");

//   mask-repeat: no-repeat;
//   mask-size: contain;
// }

.vector {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 21px;
  height: 11px;
  z-index: 99999;

  @include useMedia('min-width', $breakpoint-tablet) {
    left: 216px;
    transform: unset;
  }

  @include useMedia('min-width', $breakpoint-desktop) {
    left: 250px;
  }
}

// --- SIDEBAR (LEFT) ---

.sidebar {
  position: relative;
  width: 312px; // Фіксована ширина сайдбара
  flex-shrink: 0;
  background-color: $color-bg-aside;
  box-shadow: inset -10px 0 10px 0 rgba(0, 0, 0, 0.1);
  // border-right: 1px solid #eaeaea;
  border-top: 5px solid $color-sidebar-active;
  // overflow-y: auto;

  @include useMedia('min-width', $breakpoint-desktop) {
    width: 345px;
  }

  // Приховуємо скроллбар для краси
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarItem {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #333;
  font-weight: 300;
  font-size: 17px;
  color: #000;

  .itemIcon {
    margin-right: 12px;
    // opacity: 0.6;
    display: flex;
    align-items: center;
  }

  .mobileArrow {
    display: none; // На десктопі стрілки немає
  }

  &:hover,
  &:focus {
    color: $color-sidebar-active;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    // transition: 0.2s ease;
    transition: background 0.2s ease;
    z-index: 0; // фон під контентом
  }

  // Контент поверх фону
  * {
    position: relative;
    z-index: 1;
  }

  &.active::before {
    background: linear-gradient(90deg, $color-sidebar-active 0%, #f9faff 100%);
    opacity: 0.2; // прозорість ТІЛЬКИ фону
  }

  &.active {
    color: $color-sidebar-active;
  }
}

// --- CONTENT (RIGHT) ---
.contentArea {
  flex-grow: 1;
  padding: 30px 70px;
  position: relative;
  background-color: $color-bg-main;

  border-top: 5px solid $color-sidebar-active;
}

.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

// Сітка елементів
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
}

.gridCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 20px 10px;

  .imageWrapper {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.2s;
    border-bottom: 1px solid #f0f0f0;
  }

  .cardTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    color: $color-text-main;
  }

  &:hover {
    .imageWrapper {
      transform: scale(1.05);
    }

    .cardTitle {
      color: #8dbd48;
    }
  }
}

// --- MOBILE STYLES ---
@media (max-width:$breakpoint-tablet) {
  .catalogContainer {
    flex-direction: column;
    height: 80vh;
  }

  .sidebar {
    width: 100%;
    background: #fff;
    border-right: none;
  }

  .contentArea {
    display: none;
  }

  .sidebarItem {
    border-bottom: 1px solid #f0f0f0;
    border-left: none;
    padding: 15px 20px;

    &.active {
      background-color: #f9f9f9;
      width: 100%;
      box-shadow: inset -10px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .mobileArrow {
      display: block;
      margin-left: auto;
      opacity: 0.4;
    }
  }

  .closeBtn {
    display: none;
  }
}

.mobileCatalogMenu {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.sidebar {
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}