@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar-active: var(--sidebar-active);
  --color-destructive: var(--destructive);
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
}

:root {
  /* Border Radius */
  --radius: 0.625rem;

  /* Main Colors */
  --background: #ffffff;
  --foreground: #1e1e1e;

  /* Primary (Header Green) */
  --primary: #3a6f43;
  --primary-foreground: #ffffff;

  /* Secondary (Active Green) */
  --secondary: #579040;
  --secondary-foreground: #ffffff;

  /* Muted / Aside */
  --muted: #f9faff;
  --muted-foreground: #9f9f9f;

  /* Accent (Yellow) */
  --accent: #fdc109;

  /* Borders & Inputs */
  --border: #e6e6e6;
  --input: #f6f6f6;
  --ring: #579040;

  /* Sidebar */
  --sidebar-active: #579040;

  /* Destructive / Error */
  --destructive: #dc2626;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@utility container {
  @apply mx-auto px-4 md:max-w-5xl md:px-12 xl:max-w-366.5 xl:px-4;
}
