@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar-active: var(--sidebar-active);
  --color-sidebar-active-20: rgb(from var(--sidebar-active) r g b / 0.2);
  --color-muted-20: rgb(from var(--muted) r g b / 0.2);
  --color-brand-section-bg: var(--brand-section-bg);
  --color-destructive: var(--destructive);
  --font-montserrat: var(--font-montserrat);
  --font-inter: var(--font-inter);
}

:root {
  /* Border Radius */
  --radius: 0.625rem;

  /* Main Colors */
  --background: #ffffff;
  --foreground: #1e1e1e;

  /* Primary (Header Green) */
  --primary: #3a6f43;
  --primary-foreground: #ffffff;
  --primary-dark: #162a19;

  /* Secondary (Active Green) */
  --secondary: #579040;
  --secondary-foreground: #ffffff;

  /* Muted / Aside */
  --muted: #f9faff;
  --muted-foreground: #9f9f9f;

  /* Accent (Yellow) */
  --accent: #fdc109;

  /* Borders & Inputs */
  --border: #e6e6e6;
  --input: #f6f6f6;
  --ring: #579040;

  /* Sidebar */
  --sidebar-active: #579040;
  --surface: #f9faff;

  /* Section*/
  --brand-section-bg: #f2f2f2;

  /* Destructive / Error */
  --destructive: #dc2626;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    cursor: pointer;
  }
}

@utility accordion-open {
  @apply from-sidebar-active/20 to-muted/20 text-sidebar-active bg-linear-to-r;
}

@utility container {
  @apply mx-auto px-4 md:max-w-5xl md:px-12 xl:max-w-366.5 xl:px-4;
}

/*Footer Grid Template Areas*/
.footer-grid {
  display: grid;
  grid-template-areas:
    'logo'
    'links'
    'contact'
    'company';
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .footer-grid {
    grid-template-areas:
      'logo company contact'
      'links links links';
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .footer-grid {
    grid-template-areas: 'logo links company contact';
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer-logo {
  grid-area: logo;
}

.footer-links {
  grid-area: links;
}

.footer-contact {
  grid-area: contact;
}

.footer-company {
  grid-area: company;
}

/* Accordion Animations */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@utility animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

@utility animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}
[data-radix-scroll-area-viewport] > div {
  /* min-width: unset !important; */
  /* width: 100%; */
  display: block !important;
}
