$font-montserrat: var(--font-montserrat);
$font-inter: var(--font-inter);

$color-white: #ffffff;
$color-black: #000000;

$color-text-main: #1e1e1e;
$color-text-secondary: #9f9f9f;
$color-text-on-green: #ffffff;
$color-headings: #000000;

$color-bg-main: #ffffff;

$color-bg-header: #3a6f43;
$color-bg-footer: #162a19;

// Инпут поиска + фон левой панели фильтров
$color-bg-input-filter: #F6F6F6;

$color-yellow: #fdc109;

// Декоративные полоски, бордеры карточек
$color-border-light: #e6e6e6;

// Активные элементы: выбранный чекбокс, заполнение статус-бара
$color-active: #579040;

$color-backdrop: #cccccc;

$header-height: 54px;
// ===== BREAKPOINTS =====
$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1466px;

// ===== CONTENT WIDTHS =====
$content-width-mobile: 345px;
$content-width-tablet: 675px;
$content-width-desktop: 1436px;