@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.header {
  background-color: $color-bg-header;

  font-family: $font-montserrat;
  color: $color-text-on-green;
}

// .headerContainer {}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navList {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0;

  .navItem {
    a {
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: $color-yellow;
      }
    }
  }
}

.socials {
  display: flex;
  gap: 10px;

  .socialIcon {
    font-size: 20px;
    color: #000;

    &:hover {
      color: $color-yellow;
    }
  }
}

.staffTraining {
  font-weight: 500;
  color: $color-yellow;
}

.phone {
  font-weight: bold;

  &:hover {
    color: $color-yellow;
  }
}

.catalogLink {
  position: absolute;
  top: 40px;
  text-decoration: none;
  background-color: $color-bg-header;
  color: $color-text-on-green;
  padding: 5px 10px;
  border-radius: 5px;

  &:hover {
    background-color: #2e5c36;
    color: $color-yellow;
  }
}


.headerTop {
  width: 100%;
  background-color: $color-bg-header;
  padding: 5px 0;
}

.headerTopContainer {
  display: flex;
  justify-content: flex-end;
}

.headerTopContent {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.headerMiddle {
  width: 100%;
  background-color: $color-bg-main;
  padding: 10px 0;
}