@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.mobileMenu {
  position: fixed;

  top: $header-height;
  left: 0;
  width: 100%;
  height: calc(100vh - $header-height);

  max-height: 100vh;
  z-index: 99;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: $color-bg-header;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding: 40px 20px;
  gap: 30px;
  flex-grow: 1;
}

.nav {
  width: 100%;
  text-align: center;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navLink {
  color: $color-text-on-green;
  line-height: 1.25;
}

.phone {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
  color: $color-text-on-green;
  text-decoration: none;
}

.socials {
  margin-top: 20px; // Додатковий відступ від телефону
}
