@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.headerTop {
  // position: relative;
  padding: 13px 0;

  @include useMedia('min-width', $breakpoint-tablet) {
    padding: 10px 0;
  }

  .headerTopContainer {
  }

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: 20px;

    .hBtn {
      @include useMedia('min-width', $breakpoint-desktop) {
        display: none;
      }
    }

    .nav {
      display: none;

      @include useMedia('min-width', $breakpoint-desktop) {
        display: block;
      }

      .navList {
        display: flex;
        gap: 15px;

        @include useMedia('min-width', 1300px) {
          gap: 20px;
        }

        @include useMedia('min-width', 1466px) {
          gap: 30px;
        }

        .navItem {
        }

        .navLink {
          color: $color-text-on-green;

          font-family: Montserrat;
          line-height: 20px;
        }
      }
    }

    .socials {
      display: none;

      @include useMedia('min-width', $breakpoint-tablet) {
        display: block;
      }
    }

    .staffTraining {
      display: flex;
      align-items: center;
      gap: 15px;
      color: $color-yellow;
      font-weight: 700;
      cursor: pointer;

      p {
        line-height: 20px;
      }
    }

    .phone {
      display: none;
      color: $color-text-on-green;

      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;

      @include useMedia('min-width', $breakpoint-tablet) {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .mobileUserActionsList {
      @include useMedia('min-width', $breakpoint-desktop) {
        display: none;
      }
    }
  }
}
