@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.actionsList {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding: 0;

  & li:not(:first-child) {
    display: none;
  }

  @include useMedia('min-width', $breakpoint-tablet) {
    gap: 15px;
  }

  @include useMedia('min-width', $breakpoint-desktop) {
    & {
      gap: 40px;
    }

    & li:not(:first-child) {
      display: unset;
    }
  }
}

.actionsList {
}

.userMenuItem {
  color: $color-black;
}

.userMenuLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  gap: 6px;

  &:hover,
  &:focus {
    color: $color-yellow;
  }
}

.label {
  color: currentColor;

  font-family: Montserrat;
  line-height: 1.25;
  text-align: center;
}

.userMenuIcon {
  width: 24px;
  height: 24px;
}
