@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.container {
  margin: 0 auto;
  padding: 0 15px;

  @include useMedia('min-width', $breakpoint-tablet) {
    padding: 0 50px;
    max-width: $breakpoint-tablet;
  }

  @include useMedia('min-width', $breakpoint-desktop) {
    padding: 0 15px;
    max-width: $breakpoint-desktop;
  }
}
